<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comets.catalogokmp.android"> <application
    android:name=".App" android:allowBackup="true"
    android:supportsRtl="true"
    android:theme="@style/Theme.CatalogoKmp" tools:targetApi="31"
    xmlns:tools="http://schemas.android.com/tools">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.CatalogoKmp"> <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
</application>
</manifest>