<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comets.catalogokmp.android">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
    </queries>

    <application
    android:name=".App" android:allowBackup="true"
    android:supportsRtl="true"
    android:theme="@style/Theme.CatalogoKmp" tools:targetApi="31"
    xmlns:tools="http://schemas.android.com/tools">
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.CatalogoKmp"> <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
</application>
</manifest>